/* containers - general */

.selector-container {
  width: 90%;
  margin: 20px auto;
  height: 800px;
  border: 1px solid white;
  display:flex;
  flex-direction: row;
}

/* containers - draft */
.draft-players-list-container {
  width: 50%;
  height: 100%;
  border: 1px solid white;
  display:flex;
  flex-direction: column;
}

.draft-selector-filter {
  height: 5%;
  width: 100%;
  border: 1px solid white;
  background: black;
  display: flex;
  justify-content: space-between;  
}

.draft-players-list {
  height: 100%
}

.draft-players-items {
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  background: #aaa;
  overflow-y: scroll;
  width: 100%;
  height: 95%
}

/* containers - chosen */

.chosen-players-title {
  height: 5%;
  color: green;
}

.chosen-players-list-container {
  width: 50%;
  height: 100%;
  border: 1px solid white;
  display:flex;
  flex-direction: column;
}



.chosen-players-list {
  height: 100%
}

.chosen-players-items {
  display:flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  background: green ;
  overflow-y: scroll;
  width: 100%;
  height: 100%
}




/* LOADING OF PLAYERS */

.playerlist-box {
  width: 150px;
  height: 200px;
  background-color: white;
  color: black;
  margin: 20px;
  margin-top: 20px;
}

.stockphoto {
  width: 150px;
  height: 100px;
}

.add-player-button {
  position:relative;
  z-index: 1;
  top: -20px;
  left: 80px
}


/* popup */

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  z-index:2;
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}

