.home-page {
  display: grid;
  grid-template: repeat(5, 100vh) / 50px 1fr 50px;
}

.hero {
  grid-area: 1 / 1 / 1 / 4;
}

.home-page-banner {
  position: relative;
  width: 100%;
  top: -6vh;
  height: 76vh;
  background: #282828;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  color: #EB4C39;
  text-align: center
}

.home-page-banner h1 {
  font-size: 100px;
  font-weight: 1300;
  font-style: italic;
  padding-top: 100px;
}

.media-content-container {
  position: relative;
  top: -50px;
  margin: auto;
  width: 900px;
  height: 550px;
  background: #282828;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px 0px 0px 0px;
  padding: 20px;
}

.promo {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  flex-flow: row wrap;
}

.promo-banner {
  background: url(../../images/GRASSFIELDTEAL.png);
  background-size: cover;
  border-top-right-radius: 40px;
  color: white;
  text-align: center;
  margin: auto;
  width: 90%;
  height: 300px;
  margin-top: 50px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  border: none;
}

.promo-banner h3 {
  padding-top: 20px;
  font-size: 55px;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.promo-banner h2 {
  font-size: 90px;
  margin-top: -6vh;
}

.support-team-promo {
  position: relative;
  background: url(../../images/Grouphug.png);
  background-size: cover;
  top: 50px;
  left: 39vw;
  width: 50vw;
  height: 30vh;
  border: none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.support-team-tag {
  position: absolute;
  background: url(../../images/SUPPORTTEAMS.png);
  background-size: cover;
  top: 70%;
  right: 10%;
  width: 10vw;
  height: 10vw;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  border: none;
}

.join-and-play-promo {
  position: relative;
  background: url(../../images/GUYSJUMP.png);
  background-size: cover;
  border-top-right-radius: 30px;
  top: 150px;
  left: -35vw;
  width: 35vh;
  height: 50vh;
  border: none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.join-and-play-tag {
  position: absolute;
  background: url(../../images/JOINANDPLAY.png);
  background-size: cover;
  top: -15%;
  right: 75%;
  width: 10vw;
  height: 10vw;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  border: none;
}

.support-players-promo {
  position: relative;
  background: url(../../images/GUYCATCH.png);
  background-size: cover;
  border-top-left-radius: 30px;
  top: 10px;
  left: 40vw;
  width: 40vw;
  height: 40vh;
  border: none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.support-players-tag {
  position: absolute;
  background: url(../../images/SUPPORTPLAYERS.png);
  background-size: cover;
  top: 40%;
  right: 90%;
  width: 10vw;
  height: 10vw;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  border: none;
}

.update-feed {
  border: 1px solid white;
  padding: 10px;
}